@import "tailwindcss";

:root {
  --font-heading: var(--font-cormorant);
  --font-script: var(--font-cormorant);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-cormorant);
}

html {
  font-family: var(--font-sans);
}

body {
  min-height: 100vh;
  background: #fffcfb;
  color: #384355;
  font-family: var(--font-sans);
  font-weight: 500;
}
